<!DOCTYPE html>
<html lang="en" ng-app="AngStarter">
<head>
    <meta charset="UTF-8">
    <title>Ejemplo aplicacion pequeña ddr.</title>
    <link rel="stylesheet" href="css/app.css">
</head>
<body>
    <h1>Ejemplo peticiones al servidor</h1>
    <div class="container" ng-controller="UsersCtrl">
        <div ng-repeat="usuario in usuarios">
            <h3>Usuario</h3>
            <p>Nombre: {{ usuario.nombre }}</p>
            <p>apellidos: {{ usuario.apellidos }}</p>
            <p>email: {{ usuario.email }}</p>
            <h4>Lenguajes</h4>
            <div ng-repeat="lenguaje in usuario.lenguajes">
                <ul><li>{{ lenguaje }} </li></ul>
            </div>
            <hr>
        </div>
    </div>

    
    <!-- Bower components includes -->
    <script src="bower_components/angular/angular.js"></script>
    
    <!-- Application definition -->
    <script src="js/app.js"></script>
    
    <!-- Application Services -->
    
    
    <!-- Application Decorators -->
    
    
    <!-- Application Configurations -->
    <script src="js/Config/ResponseInterceptor.js"></script>
    <script src="js/Config/HTTP.js"></script>
    

    <!-- Application Controllers -->
    <script src="js/Controllers/UsersCtrl.js"></script>
    

</body>
</html>