<!DOCTYPE html>
<html lang="en" ng-app="AngStarter">
<head>
    <meta charset="UTF-8">
    <title>Ejemplo aplicaion pequeña ddr.</title>
    <link rel="stylesheet" href="css/app.css">
</head>
<body>
    <h1>Ejemplo con Provider y Decorators</h1>
    <div class="container" ng-controller="PlaylistProviderCtrl">
        <ul><li ng-repeat="titulo in playlist">{{ titulo }}</li></ul>
    </div>
    <div ng-controller="PlaylistMetodosProviderCtrl">
        <ul>
            <li ng-repeat="titulo in playlist">
                {{ titulo }}
                <a class="button" href="#" ng-click="borrar($index)">&times;</a>
            </li>
        </ul>
    </div>

    
    <!-- Bower components includes -->
    <script src="bower_components/angular/angular.js"></script>
    
    <!-- Application definition -->
    <script src="js/app.js"></script>
    
    <!-- Application Services -->
    <script src="js/Services/PlaylistProvider.js"></script>
    
    <!-- Application Decorators -->
    <script src="js/Decorators/Playlist.js"></script>
    
    <!-- Application Configurations -->
    <script src="js/Config/PlaylistProvider.js"></script>

    <!-- Application Controllers -->
    <script src="js/Controllers/PlaylistProviderCtrl.js"></script>
    <script src="js/Controllers/PlaylistMetodosProviderCtrl.js"></script>

</body>
</html>