<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ejemplo aplicacion pequeña ddr.</title>
    
    <style>
         .flotar {float: right; padding: 0 10px;}
         .fondoRojo {background-color: red; }
         .bordesRedondeados {border: 2px solid black; border-radius: 10px; }
    </style>
</head>
<body ng-app="AngStarter">
    <h1>Ejemplo Directivas ng-class con expresion en la misma directiva</h1>
    
    <input type="checkbox" ng-model="flotar">Flotar
    <input type="checkbox" ng-model="fondoRojo">Fondo Rojo
    <input type="checkbox" ng-model="bordesRedondeados">Bordes Redondeados
    
    <div ng-class="{'flotar':flotar, 'fondoRojo': fondoRojo, 'bordesRedondeados': bordesRedondeados}">
        <h1>Ejemplo 1 de los usos de ng-class</h1>
     </div>
     
    <hr>
    
    <div ng-controller="miCtrl">
        <h1>Ejemplo de directivas np-list</h1>
        Etiquetas: <input ng-model="etiquetas" ng-list><br>
        Debug: {{ etiquetas }}
    </div>
    
    <hr>
    
    <div ng-controller="miListaCtrl">
        <h1>Ejemplo Directivas ng-repeat y ng-class-even</h1>
        
        <div class="container">
            Listado de compra.
            <input type="search" ng-model="buscar">
            <ul>
                <li ng-repeat="compra in musica | filter:buscar" ng-class-even="{'flotar':flotar, 'fondoRojo': fondoRojo, 'bordesRedondeados': bordesRedondeados}">
                    <strong>Indice:</strong> {{ $index+1 }}
                    <strong>Artista:</strong> {{ compra.artista }}
                    <strong>CD</strong> {{ compra.cd }}
                </li>
            </ul>
         </div>
    </div>

    <!-- Bower components includes -->
    <script src="bower_components/angular/angular.js"></script>
    
    <script type="text/javascript">
        angular.module('AngStarter', [])
        .controller('miCtrl', ['$scope', function($scope) {
            $scope.etiquetas = ['Actualidad', 'Finanzas', 'Tecnología'];
        }])
        .controller('miListaCtrl', ['$scope', function ($scope) {
            var musica = [
                {artista: 'U2', cd: 'Songs of Innocence'},
                {artista: 'Afrojack', cd: 'Forget the World'},
                {artista: 'Alexandra Stan', cd: 'Unlocked'},
                {artista: 'Avicii', cd: 'True'},
                {artista: 'Dash Berlin', cd: 'The New Daylight'},
                {artista: 'David Guetta', cd: 'Lovers on the Sun'},
                {artista: 'Echosmith', cd: 'Talking Dreams'},
                {artista: 'La Roux', cd: ' Trouble in paradise'}
            ];
            $scope.musica = musica;
        }]);;
    </script>
    
    

</body>
</html>